#Data Types and Structures Questions

        1. What are data structures, and why are they important?

- data structure is a way, whera we can store data, and organize the data in a proper way so that we can manipulation the data.
its impotant because it help us to improuf the cord




2. Explain the difference between mutable and immutable data types with examples?
- in programming mutable data type can be edited or changed after cration. but in outher side immutable data type can't be changed.

E.G of mutable:/
box=[1,2,3,4]
type(box)#list
box.append(5)
print(box)#[1,2,3,4,5]

E.G of immutable data type:/
box1=(1,2,3,4)
type(box1)#tuple
box1.append(5)
print("box1")#AttributeError




3. What are the main differences between lists and tuples in Python?
 - In Python, the main difference between lists and tuples is that lists are mutable, while tuples are immutable. This means that you can change lists by adding, removing, or modifying elements, but you cannot do the same with tuples.




 4. Describe how dictionaries store data?
  -  Dictionaries are used to store data values in key:value pairs.




 6. What is a string in Python, and how is it different from a list?
 -  Strings in Python are sequences of characters enclosed in quotes ('' or “”). Lists are ordered collections of items enclosed in square brackets []. 2) Strings are immutable, meaning they cannot be changed once created, while lists are mutable and can be modified as needed.




 7.  How do tuples ensure data integrity in Python?
 -   Tuples are immutable to ensure that their contents remain constant throughout their lifecycle.



 9.   Can lists contain different data types in Python?
 -    yes it can for an E.G> ncluding strings, floats, and booleans.



 10.  Explain why strings are immutable in Python?
 -    Strings in Python are “immutable” which means they can not be changed after they are created. Some other immutable data types are integers, float, boolean, etc.




 14.  How does the “in” keyword work differently for lists and dictionaries?
  -    The in and not in operator works on dictionaries; it tells you whether something appears or not as a key in the dictionary. It returns two values True or False. The in operator uses different algorithms for lists and dictionaries.


  
  15. Can you modify the elements of a tuple? Explain why or why not?
  -  No, you cannot directly modify the elements of a tuple in Python because tuples are immutable, meaning their contents cannot be changed after creation.

In [ ]:
                                                            #Practical Questions

In [ ]:
# Write a code to create a string with your name and print

a=("macbook")
a.upper()

'MACBOOK'

In [ ]:
a.lower()

'macbook'

In [ ]:
# Write a code to find the length of the string "Hello World
a=("hello world")
len(a)

11

In [ ]:
#Write a code to slice the first 3 characters from the string "Python Programming"

a=("python programing")
a=a[0:3]
print(a)

pyt

In [ ]:
a=("python programing")
a=(a[3:])
print(a)

hon programing

In [ ]:
#Write a code to convert the string "hello" to uppercase

a=("hello")
a.upper()

'HELLO'

In [ ]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"

a=("i like apple")
a.replace("apple","orange")

'i like orange'

In [ ]:
#Write a code to create a list with numbers 1 to 5 and print it

a=["1","2","3","4","5"]
type(a)

list

In [ ]:
print(a)

['1', '2', '3', '4', '5']

In [ ]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]

a=[1,2,3,4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

In [ ]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

a=[1,2,3,4,5]
a.remove(3)
print(a)

[1, 2, 4, 5]

In [ ]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']

a=["a","b","c","d"]
a[1]

'b'

In [ ]:
#Write a code to reverse the list [10, 20, 30, 40, 50].
a=[10,20,30,40,50]
a.reverse()
print(a)

[50, 40, 30, 20, 10]

In [ ]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

a=(100,200,300)
type(a)
print(a)

(100, 200, 300)

In [ ]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
a=("red","green","blue","yellow")
a[1:]

('green', 'blue', 'yellow')

In [ ]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
a=(10,20,5,15)
min(a)

5

In [ ]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
a=("dog","cat","rabbit")
index=a.index("cat")
print(index)

1

In [ ]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
a=("apple","mango","banana","kiwi")
if "kiwi" in a:
  print("kiwi found")
else:
  print("kiwi not found")

kiwi found

In [ ]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
a={"a","b","c"}
type(a)
print(a)

{'c', 'b', 'a'}

In [ ]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

a={1,2,3,4,5}
a.clear()
print(a)

set()

In [ ]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

a={1,2,3,4}
a.remove(4)
print(a)

{1, 2, 3}

In [ ]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a={1,2,3}
b={3,4,5}
a.union(b)

{1, 2, 3, 4, 5}

In [ ]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
a={1,2,3}
b={2,3,4}
a.intersection(b)

{2, 3}

In [ ]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
a={"name":"avi","age":20,"city":"kolkata"}
type(a)
print(a)

{'name': 'avi', 'age': 20, 'city': 'kolkata'}

In [3]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
a={"name":"jhon","age":"25"}
a["country"]="USA"
print(a)

{'name': 'jhon', 'age': '25', 'country': 'USA'}

In [24]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
a={"name":"alice","age":"30"}
a["name"]

'alice'

In [28]:
 #24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
 a={"name":"bob","age":"22","city":"new york"}
 a.pop("age")
 print(a)

{'name': 'bob', 'city': 'new york'}

In [31]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
a={"name":"alice","city":"paris"}
if "city" in a:
  print("yes")
else:
  print("not found")

yes

In [32]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
a=["apple","mango","kiwi"]
b=("honda","hero","ktm")
c={"india","nepal","usa"}
print(a,b,c)

['apple', 'mango', 'kiwi'] ('honda', 'hero', 'ktm') {'nepal', 'india', 'usa'}

In [36]:
#28. Write a code to create a list with strings and print the element at the third index.
a=["apple","redmi","hcl","vivo"]
for (eliments) in a
print(eliments)

SyntaxError: expected ':' (<ipython-input-36-fea8536b05ef>, line 3)

In [38]:
#29. Write a code to combine two dictionaries into one and print the result.
a={"india","usa","nepal"}
b={"kolkata","florida","katmando"}
a.update(b)
print(a)

{'kolkata', 'katmando', 'florida', 'nepal', 'india', 'usa'}

In [39]:
#30. Write a code to convert a list of strings into a set.
a=["ajay","bijay","avi"]
b=set(a)
print(b)

{'ajay', 'avi', 'bijay'}